In [1]:
import numpy as np 
import pandas as pd 

import os
df = pd.read_csv('/kaggle/input/global-covid-19-data/owid-covid-data.csv')

In [2]:
df.describe()

,index,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,320272.000000,2.875470e+05,3.113100e+05,3.100460e+05,2.690830e+05,311356.000000,310126.000000,287547.000000,311310.000000,310046.000000,...,183636.000000,121559.000000,219087.000000,294532.000000,240578.000000,3.202720e+05,1.111700e+04,11117.000000,11117.000000,11117.000000
mean,160135.500000,5.915161e+06,1.045898e+04,1.049990e+04,8.006950e+04,93.272832,93.622913,90271.593479,158.006683,158.628965,...,32.910433,50.791647,3.097283,73.717914,0.722498,1.283166e+08,4.864620e+04,9.627301,12.137859,1544.824067
std,92454.707044,3.697426e+07,1.015369e+05,9.882155e+04,4.176550e+05,592.540132,583.245296,141358.079958,1116.843641,626.055757,...,13.573683,31.955901,2.548370,7.396565,0.148987,6.603644e+08,1.417442e+05,12.658225,25.976067,1872.902854
min,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2142.340300
25%,80067.750000,6.359500e+03,0.000000e+00,8.570000e-01,1.130000e+02,0.000000,0.000000,1949.844000,0.000000,0.192000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,5.160000e+01,0.840000,-1.430000,36.455357
50%,160135.500000,6.177500e+04,1.400000e+01,3.500000e+01,1.111000e+03,0.000000,0.286000,21229.570000,1.988000,9.643000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.938000e+03,7.920000,6.170000,967.948240
75%,240203.250000,6.483530e+05,4.900000e+02,6.050000e+02,1.019800e+04,5.000000,6.286000,112412.656000,64.090250,98.431750,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.311460e+04,15.340000,17.390000,2531.535200
max,320271.000000,7.681863e+08,7.945885e+06,6.403052e+06,6.945701e+06,20042.000000,14674.714000,737554.506000,228872.025000,37241.781000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.288358e+06,76.550000,377.370000,10292.318000

In [3]:
# iterating the columns
for col in df.columns:
    print(col)

index
iso_code
continent
location
date
total_cases
new_cases
new_cases_smoothed
total_deaths
new_deaths
new_deaths_smoothed
total_cases_per_million
new_cases_per_million
new_cases_smoothed_per_million
total_deaths_per_million
new_deaths_per_million
new_deaths_smoothed_per_million
reproduction_rate
icu_patients
icu_patients_per_million
hosp_patients
hosp_patients_per_million
weekly_icu_admissions
weekly_icu_admissions_per_million
weekly_hosp_admissions
weekly_hosp_admissions_per_million
total_tests
new_tests
total_tests_per_thousand
new_tests_per_thousand
new_tests_smoothed
new_tests_smoothed_per_thousand
positive_rate
tests_per_case
tests_units
total_vaccinations
people_vaccinated
people_fully_vaccinated
total_boosters
new_vaccinations
new_vaccinations_smoothed
total_vaccinations_per_hundred
people_vaccinated_per_hundred
people_fully_vaccinated_per_hundred
total_boosters_per_hundred
new_vaccinations_smoothed_per_million
new_people_vaccinated_smoothed
new_people_vaccinated_smoothed_per_hundred
stringency_index
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence
female_smokers
male_smokers
handwashing_facilities
hospital_beds_per_thousand
life_expectancy
human_development_index
population
excess_mortality_cumulative_absolute
excess_mortality_cumulative
excess_mortality
excess_mortality_cumulative_per_million

In [4]:
europa = df[df['continent']=='Europe']
europa_new = europa[['continent', 'location', 'date', 'total_cases', 'total_deaths','total_tests','new_tests','positive_rate','tests_per_case','tests_units','total_vaccinations','population','excess_mortality_cumulative_absolute','extreme_poverty', 'handwashing_facilities','total_cases_per_million','new_cases_per_million','total_deaths_per_million','new_deaths_per_million','total_tests_per_thousand','new_tests_per_thousand','total_vaccinations_per_hundred','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','gdp_per_capita','median_age']]

In [5]:
europa_new.to_csv('covid-europe.csv', index=False)

In [6]:
for col in europa_new.columns:
    print(col)

continent
location
date
total_cases
total_deaths
total_tests
new_tests
positive_rate
tests_per_case
tests_units
total_vaccinations
population
excess_mortality_cumulative_absolute
extreme_poverty
handwashing_facilities
total_cases_per_million
new_cases_per_million
total_deaths_per_million
new_deaths_per_million
total_tests_per_thousand
new_tests_per_thousand
total_vaccinations_per_hundred
people_vaccinated_per_hundred
people_fully_vaccinated_per_hundred
gdp_per_capita
median_age

In [20]:
df_new_death = df[['iso_code', 'location', 'date', 'new_deaths_per_million']]
df_new_death['date'] = pd.to_datetime(df_new_death['date'],format='%Y-%m-%d')

/tmp/ipykernel_66/2096273516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_death['date'] = pd.to_datetime(df_new_death['date'],format='%Y-%m-%d')

In [8]:
df_new_death

       iso_code     location       date  new_deaths_per_million
0           AFG  Afghanistan 2020-01-03                   0.000
1           AFG  Afghanistan 2020-01-04                   0.000
2           AFG  Afghanistan 2020-01-05                   0.000
3           AFG  Afghanistan 2020-01-06                   0.000
4           AFG  Afghanistan 2020-01-07                   0.000
...         ...          ...        ...                     ...
320267      ZWE     Zimbabwe 2023-06-17                   0.000
320268      ZWE     Zimbabwe 2023-06-18                   0.000
320269      ZWE     Zimbabwe 2023-06-19                   0.306
320270      ZWE     Zimbabwe 2023-06-20                   0.000
320271      ZWE     Zimbabwe 2023-06-21                   0.000

[320272 rows x 4 columns]

In [9]:
aux = df_new_death.groupby(['location','iso_code',df_new_death.date.dt.year])['new_deaths_per_million'].sum()
aux = aux.reset_index()
aux = aux.rename(columns={ 'location': 'name', 'iso_code':'code','new_deaths_per_million':'pop' })

In [10]:
aux

             name      code  date      pop
0     Afghanistan       AFG  2020   53.222
1     Afghanistan       AFG  2021  125.629
2     Afghanistan       AFG  2022   11.981
3     Afghanistan       AFG  2023    1.767
4          Africa  OWID_AFR  2020   45.597
...           ...       ...   ...      ...
1009       Zambia       ZMB  2023    1.850
1010     Zimbabwe       ZWE  2020   22.055
1011     Zimbabwe       ZWE  2021  284.117
1012     Zimbabwe       ZWE  2022   39.215
1013     Zimbabwe       ZWE  2023    4.407

[1014 rows x 4 columns]

In [11]:
new_death_2020 = aux[aux['date']==2020]
new_death_2020 = new_death_2020.drop('date', axis=1)
new_death_2020.to_csv('new_death_2020.csv', index=False)

In [12]:
new_death_2021 = aux[aux['date']==2021]
new_death_2021 = new_death_2021.drop('date', axis=1)
new_death_2021.to_csv('new_death_2021.csv', index=False)

In [13]:
new_death_2022 = aux[aux['date']==2022]
new_death_2022 = new_death_2022.drop('date', axis=1)
new_death_2022.to_csv('new_death_2022.csv', index=False)

In [14]:
new_death_2023 = aux[aux['date']==2023]
new_death_2023 = new_death_2023.drop('date', axis=1)
new_death_2023.to_csv('new_death_2023.csv', index=False)

In [57]:
df_poverty = df[['location', 'date', 'extreme_poverty']]
df_poverty['date'] = pd.to_datetime(df_poverty['date'],format='%Y-%m-%d')
auxP = df_poverty.groupby(['location',df_poverty.date.dt.year])['extreme_poverty'].mean()
auxP = auxP.reset_index()
df_poverty_2023 = auxP[auxP['date']==2023]
df_poverty_2023 = df_poverty_2023.dropna();
df_poverty_2023 = df_poverty_2023.drop('date', axis=1)
df_poverty_2023.to_csv('df_poverty_2023.csv', index=False)

/tmp/ipykernel_66/1643113525.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_poverty['date'] = pd.to_datetime(df_poverty['date'],format='%Y-%m-%d')

In [58]:
df_poverty_2023

       location  extreme_poverty
11      Albania              1.1
15      Algeria              0.5
39    Argentina              0.6
43      Armenia              1.8
55    Australia              0.5
...         ...              ...
988     Vietnam              2.0
1001      World             10.0
1005      Yemen             18.8
1009     Zambia             57.5
1013   Zimbabwe             21.4

[126 rows x 2 columns]

In [59]:
df_clean = df[['location', 'date', 'handwashing_facilities',]]
df_clean['date'] = pd.to_datetime(df_clean['date'],format='%Y-%m-%d')
auxP = df_clean.groupby(['location',df_clean.date.dt.year])['handwashing_facilities'].mean()
auxP = auxP.reset_index()
df_clean_2023 = auxP[auxP['date']==2023]
df_clean_2023 = df_clean_2023.dropna();
df_clean_2023 = df_clean_2023.drop('date', axis=1)
df_clean_2023.to_csv('df_clean_2023.csv', index=False)

/tmp/ipykernel_66/2206586970.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['date'] = pd.to_datetime(df_clean['date'],format='%Y-%m-%d')

In [60]:
df_clean_2023

         location  handwashing_facilities
3     Afghanistan                  37.746
15        Algeria                  83.741
27         Angola                  26.664
43        Armenia                  94.043
63     Azerbaijan                  83.241
...           ...                     ...
988       Vietnam                  85.847
1001        World                  60.130
1005        Yemen                  49.542
1009       Zambia                  13.938
1013     Zimbabwe                  36.791

[96 rows x 2 columns]

In [61]:
df_gdp = df[['location', 'date', 'gdp_per_capita',]]
df_gdp['date'] = pd.to_datetime(df_gdp['date'],format='%Y-%m-%d')
auxP = df_gdp.groupby(['location',df_gdp.date.dt.year])['gdp_per_capita'].mean()
auxP = auxP.reset_index()
df_gdp_2023 = auxP[auxP['date']==2023]
df_gdp_2023 = df_gdp_2023.dropna();
df_gdp_2023 = df_gdp_2023.drop('date', axis=1)
df_gdp_2023.to_csv('df_gdp_2023.csv', index=False)

/tmp/ipykernel_66/188757281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp['date'] = pd.to_datetime(df_gdp['date'],format='%Y-%m-%d')

In [62]:
df_gdp_2023

                 location  gdp_per_capita
3             Afghanistan        1803.987
11                Albania       11803.431
15                Algeria       13913.839
27                 Angola        5819.495
35    Antigua and Barbuda       21490.943
...                   ...             ...
988               Vietnam        6171.884
1001                World       15469.207
1005                Yemen        1479.147
1009               Zambia        3689.251
1013             Zimbabwe        1899.775

[196 rows x 2 columns]